@import url('https://fonts.googleapis.com/css2?family=Chivo+Mono&family=Montserrat&family=Roboto&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  font-family: Montserrat, sans-serif;
}

html {
  background: #e9ebee;
}

.app-body {
  display: flex;
  flex-direction: column;
  align-items: center;
  ;

  margin-top: 10dvh;
  padding: 4rem 0;

  .content {
    display: flex;
    flex-direction: column;
    align-items: center;

    width: 800px;
    max-width: 100%;
  }
}

.page-header {
  width: 100%;
  padding: 1rem;

  h1 {
    width: 100%;

    font-size: 2.25rem;
    font-weight: 600;
    text-align: left;

    color: #1f2a46;
  }

  h2 {
    width: 100%;

    font-size: 1.5rem;
    font-weight: 600;
    text-align: left;

    color: #1f2a46;
  }

  p {
    width: 100%;
    padding-top: .5rem;
    line-height: 1.5rem;
    color: #323952
  }
}

.spacer {
  height: 2rem;

  &.small {
    height: 1rem;
  }
}