.table-styled {
    width: 80%;

    thead {
        th {
            padding: .5rem .25rem
        }
    }

    tbody {

        tr {

            td {
                text-align: center;
                padding: .5rem .25rem;
            }
        }
    }
}